[include]
	# use this to store name, email, and gpg signing key
	path = ~/.gitconfig.local
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[commit]
	template = ~/.gitmessage
	gpgsign = true
